<div class="h-full  w-full p-5">
  <div class="mb-5 h-screen  w-full">

    <h1 class="text-3xl font-bold text-gray-800 text-center mt-3 mb-5">Document Details</h1>

    <div class="flex flex-row gap-x-5 ml-5">
      <div class="flex flex-row  h-screen w-full rounded-lg shadow-lg  mb-5 p-8 bg-white">

        <div class="w-full h-full flex flex-col gap-y-5 ">
          
          <div class="flex flex-row justify-between gap-x-5">
            <div class="flex flex-col w-full">
              <label for="documentCode" class="font-bold text-lg mb-1">Document Code:</label>
              <div class="flex flex-row items-center">
                <div class="w-full h-8 border border-gray-400 flex items-center rounded-md">
                  <span class="text-gray-900 text-base ml-2 select-text">{{documentCode}}</span>
                </div>
                <button class="h-5 w-5 ml-2" (click)="copyCode()">
                  <img src="https://icon-library.com/images/copy-icon/copy-icon-15.jpg" alt="Copy">
                </button>
              </div>
            </div>

            <div class="w-full"> 
              <label for="remarks" class="font-bold text-lg mb-1">Remarks:</label>
              <div class="w-full h-8 border border-gray-400 flex items-center rounded-md">
                <span class="text-gray-900 text-base ml-2 select-text">Misinformation</span>
              </div>
            </div>
          </div>

          <!-- QR --> 
          <div class="flex flex-col h-full w-full">
            <label for="qrCode" class="font-bold text-lg mb-1">Document QR Code:</label>
            <div class="flex flex-row items-center gap-x-5">
              <!--QR here-->
              <div class="bg-white h-80 w-80 p-2 border border-gray-400 rounded-lg">
                <img src="assets/logo/qr-code.png"  alt="" 
                role="presentation" class="w-full h-full">
              </div>
              <div class="flex flex-col gap-y-2">
                <button class="bg-emerald-400 rounded-lg w-40 h-8 text-white flex items-center justify-center gap-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 32 32"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 22V5M9 16l7 7l7-7M9 27h14"/></svg>
                  Download QR
                </button>
                <button class="bg-blue-400 rounded-lg w-40 h-8 text-white flex items-center justify-center gap-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M9 4v7H7c-1.645 0-3 1.355-3 3v10h5v4h14v-4h5V14c0-1.645-1.355-3-3-3h-2V4zm2 2h10v5H11zm-4 7h18c.566 0 1 .434 1 1v8h-3v-4H9v4H6v-8c0-.566.434-1 1-1m1 1c-.55 0-1 .45-1 1s.45 1 1 1s1-.45 1-1s-.45-1-1-1m3 6h10v6H11z"/></svg>                Print QR
                </button>
              </div>
              
            </div>
          </div>

          <!-- BARCODE -->
          <div class="flex flex-col h-full w-full">
            <h2 class="font-bold text-lg mb-1">Document Barcode:</h2>
            <div class="flex flex-row items-center gap-x-5">
              <!--Barcode here-->
              <div class="bg-white h-40 w-80 p-2 border border-gray-400 rounded-lg">
                <img src="assets/logo/barcode.png"  alt="" 
                role="presentation" class="w-full h-full">
              </div>
              <div class="flex flex-col gap-y-2">
                <button class="bg-emerald-400 rounded-lg w-40 h-8 text-white flex items-center justify-center gap-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 32 32"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 22V5M9 16l7 7l7-7M9 27h14"/></svg>
                  Download
                </button>
                <button class="bg-blue-400 rounded-lg w-40 h-8 text-white flex items-center justify-center gap-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M9 4v7H7c-1.645 0-3 1.355-3 3v10h5v4h14v-4h5V14c0-1.645-1.355-3-3-3h-2V4zm2 2h10v5H11zm-4 7h18c.566 0 1 .434 1 1v8h-3v-4H9v4H6v-8c0-.566.434-1 1-1m1 1c-.55 0-1 .45-1 1s.45 1 1 1s1-.45 1-1s-.45-1-1-1m3 6h10v6H11z"/></svg>                
                  Print Barcode
                </button>
              </div>
              
            </div>
          </div>
            
        </div>

      </div>

      <div class="flex flex-row  h-screen w-full rounded-lg shadow-lg  mb-5 p-8 bg-white">
        <div class="w-full h-full   flex flex-col gap-y-5">
          <div class="flex flex-row  w-full gap-x-5">
            <div class="flex flex-col w-full ">
              <label for="enrolledBy" class="font-bold text-lg mb-1">Enrolled by:</label>
              <div class="flex flex-row items-center">
                <div class="w-full h-8 border border-gray-400 flex items-center rounded-md">
                  <span class="text-gray-900 text-base ml-2 select-text">Kenneth Felix John Aycardo</span>
                </div>
              </div>
            </div>
            <div class="flex flex-col w-full">
              <label for="subjectTitle" class="font-bold text-lg mb-1">Subject/Title:</label>
              <div class="flex flex-row items-center w-full">
                <div class="w-full h-8 border border-gray-400 flex items-center rounded-md">
                  <span class="text-gray-900 text-base ml-2 select-text">Angat Buhay para sa Lahat</span>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-row  w-full gap-x-5">
            <div class="flex flex-col w-full ">
              <label for="originOffice" class="font-bold text-lg mb-1">Origin Office:</label>
              <div class="flex flex-row items-center">
                <div class="w-full h-8 border border-gray-400 flex items-center rounded-md">
                  <span class="text-gray-900 text-base ml-2 select-text">Daraga, Albay</span>
                </div>
              </div>
            </div>
            <div class="flex flex-col w-full">
              <label for="dateEnrolled"  class="font-bold text-lg mb-1">Date Enrolled:</label>
              <div class="flex flex-row items-center w-full">
                <div class="w-full h-8 border border-gray-400 flex items-center rounded-md">
                  <span class="text-gray-900 text-base ml-2 select-text">October 30,2024</span>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-row  w-full gap-x-5">
            <div class="flex flex-col w-full ">
              <label for="classification"  class="font-bold text-lg mb-1">Classification:</label>
              <div class="flex flex-row items-center">
                <div class="w-full h-8 border border-gray-400 flex items-center rounded-md">
                  <span class="text-gray-900 text-base ml-2 select-text"></span>
                </div>
              </div>
            </div>
            <div class="flex flex-col w-full">
              <label for="originatingAgency"  class="font-bold text-lg mb-1">Originating Agency:</label>
              <div class="flex flex-row items-center w-full">
                <div class="w-full h-8 border border-gray-400 flex items-center rounded-md">
                  <span class="text-gray-900 text-base ml-2 select-text">Intellectual Property Office</span>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-row  w-full gap-x-5">
            <div class="flex flex-col w-full ">
              <label for="type" class="font-bold text-lg mb-1">Type:</label>
              <div class="flex flex-row items-center">
                <div class="w-full h-8 border border-gray-400 flex items-center rounded-md">
                  <span class="text-gray-900 text-base ml-2 select-text"></span>
                </div>
              </div>
            </div>
            <div class="flex flex-col w-full">
              <label for="currentLocation"  class="font-bold text-lg mb-1">Current Location:</label>
              <div class="flex flex-row items-center w-full">
                <div class="w-full h-8 border border-gray-400 flex items-center rounded-md">
                  <span class="text-gray-900 text-base ml-2 select-text">Tabaco City, Albay</span>
                </div>
              </div>
            </div>
          </div>

          
          <div class="flex flex-col w-full">
            <label for="tags"  class="font-bold text-lg mb-1">Tags:</label>
            <div class="flex flex-row gap-x-2 w-full">
              <div class="flex flex-row items-center w-1/6">
                <div class="relative w-20 h-5 bg-orange-400 flex items-center justify-center rounded-lg">
                  <span class="text-white text-base select-text">Type 1</span>
                </div>
              </div>
              
              <div class="flex flex-row items-center w-1/6">
                <div class="relative w-20 h-5 bg-emerald-400 flex items-center justify-center rounded-lg">
                  <span class="text-white text-base select-text">Type 2</span>
                </div>
              </div> 
              
              <div class="flex flex-row items-center w-1/6">
                <div class="relative w-20 h-5 bg-blue-400 flex items-center justify-center rounded-lg">
                  <span class="text-white text-base select-text">Type 3</span>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col mt-5 w-full">
            <div class="flex flex-row items-center justify-between mr-2">
              <label for="annexesAttachments" class="font-bold text-lg mb-1">Annexes and Attachments:</label>
              <button class="h-6 w-6 bg-orange-400 hover:bg-orange-600 rounded-md flex items-center justify-center" title="Add file">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M6 12h12m-6 6V6"/></svg>
              </button>
            </div>

            <div class="flex flex-col h-2/3 w-full mt-1 overflow-y-auto gap-y-2">
              <div class="flex-row flex gap-x-5">
                <div class="w-full h-10 border border-gray-400 rounded-lg flex items-center justify-center">
                  <span class="text-base text-gray-800">Attachment1.pdf</span>
                </div>
                <div class="flex flex-row gap-x-3">
                  <button class="h-10 w-10 bg-indigo-400 hover:bg-indigo-600 rounded-md flex items-center justify-center text-white" title="View file">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                      <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                    </svg>                  </button>
                  <button class="h-10 w-10 bg-red-400 hover:bg-red-600 rounded-md flex items-center justify-center text-white" title="Delete file">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24"><path fill="currentColor" d="m15.241 3.721l.293 2.029H19.5a.75.75 0 0 1 0 1.5h-.769l-.873 10.185c-.053.62-.096 1.13-.165 1.542c-.07.429-.177.813-.386 1.169a3.25 3.25 0 0 1-1.401 1.287c-.372.177-.764.25-1.198.284c-.417.033-.928.033-1.55.033h-2.316c-.622 0-1.133 0-1.55-.033c-.434-.034-.826-.107-1.198-.284a3.25 3.25 0 0 1-1.401-1.287c-.21-.356-.315-.74-.386-1.169c-.069-.413-.112-.922-.165-1.542L5.269 7.25H4.5a.75.75 0 0 1 0-1.5h3.966l.293-2.029l.011-.061c.182-.79.86-1.41 1.71-1.41h3.04c.85 0 1.528.62 1.71 1.41zM9.981 5.75h4.037l-.256-1.776c-.048-.167-.17-.224-.243-.224h-3.038c-.073 0-.195.057-.243.224zm1.269 4.75a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0zm3 0a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0z"/></svg>                 </button>
                </div>
              </div>

              <div class="flex-row flex gap-x-5">
                <div class="w-full h-10 border border-gray-400 rounded-lg flex items-center justify-center">
                  <span class="text-base text-gray-800">Attachment1.pdf</span>
                </div>
                <div class="flex flex-row gap-x-3">
                  <button class="h-10 w-10 bg-indigo-400 hover:bg-indigo-600 rounded-md flex items-center justify-center text-white" title="View file">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                      <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                    </svg>                  </button>
                  <button class="h-10 w-10 bg-red-400 hover:bg-red-600 rounded-md flex items-center justify-center text-white" title="Delete file">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24"><path fill="currentColor" d="m15.241 3.721l.293 2.029H19.5a.75.75 0 0 1 0 1.5h-.769l-.873 10.185c-.053.62-.096 1.13-.165 1.542c-.07.429-.177.813-.386 1.169a3.25 3.25 0 0 1-1.401 1.287c-.372.177-.764.25-1.198.284c-.417.033-.928.033-1.55.033h-2.316c-.622 0-1.133 0-1.55-.033c-.434-.034-.826-.107-1.198-.284a3.25 3.25 0 0 1-1.401-1.287c-.21-.356-.315-.74-.386-1.169c-.069-.413-.112-.922-.165-1.542L5.269 7.25H4.5a.75.75 0 0 1 0-1.5h3.966l.293-2.029l.011-.061c.182-.79.86-1.41 1.71-1.41h3.04c.85 0 1.528.62 1.71 1.41zM9.981 5.75h4.037l-.256-1.776c-.048-.167-.17-.224-.243-.224h-3.038c-.073 0-.195.057-.243.224zm1.269 4.75a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0zm3 0a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0z"/></svg>                 </button>
                </div>
              </div>

              <div class="flex-row flex gap-x-5">
                <div class="w-full h-10 border border-gray-400 rounded-lg flex items-center justify-center">
                  <span class="text-base text-gray-800">Attachment1.pdf</span>
                </div>
                <div class="flex flex-row gap-x-3">
                  <button class="h-10 w-10 bg-indigo-400 hover:bg-indigo-600 rounded-md flex items-center justify-center text-white" title="View file">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                      <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                    </svg>                  </button>
                  <button class="h-10 w-10 bg-red-400 hover:bg-red-600 rounded-md flex items-center justify-center text-white" title="Delete file">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24"><path fill="currentColor" d="m15.241 3.721l.293 2.029H19.5a.75.75 0 0 1 0 1.5h-.769l-.873 10.185c-.053.62-.096 1.13-.165 1.542c-.07.429-.177.813-.386 1.169a3.25 3.25 0 0 1-1.401 1.287c-.372.177-.764.25-1.198.284c-.417.033-.928.033-1.55.033h-2.316c-.622 0-1.133 0-1.55-.033c-.434-.034-.826-.107-1.198-.284a3.25 3.25 0 0 1-1.401-1.287c-.21-.356-.315-.74-.386-1.169c-.069-.413-.112-.922-.165-1.542L5.269 7.25H4.5a.75.75 0 0 1 0-1.5h3.966l.293-2.029l.011-.061c.182-.79.86-1.41 1.71-1.41h3.04c.85 0 1.528.62 1.71 1.41zM9.981 5.75h4.037l-.256-1.776c-.048-.167-.17-.224-.243-.224h-3.038c-.073 0-.195.057-.243.224zm1.269 4.75a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0zm3 0a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0z"/></svg>                 </button>
                </div>
              </div>

              <div class="flex-row flex gap-x-5">
                <div class="w-full h-10 border border-gray-400 rounded-lg flex items-center justify-center">
                  <span class="text-base text-gray-800">Attachment1.pdf</span>
                </div>
                <div class="flex flex-row gap-x-3">
                  <button class="h-10 w-10 bg-indigo-400 hover:bg-indigo-600 rounded-md flex items-center justify-center text-white" title="View file">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                      <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                    </svg>                  </button>
                  <button class="h-10 w-10 bg-red-400 hover:bg-red-600 rounded-md flex items-center justify-center text-white" title="Delete file">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24"><path fill="currentColor" d="m15.241 3.721l.293 2.029H19.5a.75.75 0 0 1 0 1.5h-.769l-.873 10.185c-.053.62-.096 1.13-.165 1.542c-.07.429-.177.813-.386 1.169a3.25 3.25 0 0 1-1.401 1.287c-.372.177-.764.25-1.198.284c-.417.033-.928.033-1.55.033h-2.316c-.622 0-1.133 0-1.55-.033c-.434-.034-.826-.107-1.198-.284a3.25 3.25 0 0 1-1.401-1.287c-.21-.356-.315-.74-.386-1.169c-.069-.413-.112-.922-.165-1.542L5.269 7.25H4.5a.75.75 0 0 1 0-1.5h3.966l.293-2.029l.011-.061c.182-.79.86-1.41 1.71-1.41h3.04c.85 0 1.528.62 1.71 1.41zM9.981 5.75h4.037l-.256-1.776c-.048-.167-.17-.224-.243-.224h-3.038c-.073 0-.195.057-.243.224zm1.269 4.75a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0zm3 0a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0z"/></svg>                 </button>
                </div>
              </div>

              <div class="flex-row flex gap-x-5">
                <div class="w-full h-10 border border-gray-400 rounded-lg flex items-center justify-center">
                  <span class="text-base text-gray-800">Attachment1.pdf</span>
                </div>
                <div class="flex flex-row gap-x-3">
                  <button class="h-10 w-10 bg-indigo-400 hover:bg-indigo-600 rounded-md flex items-center justify-center text-white" title="View file">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                      <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                    </svg>                  </button>
                  <button class="h-10 w-10 bg-red-400 hover:bg-red-600 rounded-md flex items-center justify-center text-white" title="Delete file">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24"><path fill="currentColor" d="m15.241 3.721l.293 2.029H19.5a.75.75 0 0 1 0 1.5h-.769l-.873 10.185c-.053.62-.096 1.13-.165 1.542c-.07.429-.177.813-.386 1.169a3.25 3.25 0 0 1-1.401 1.287c-.372.177-.764.25-1.198.284c-.417.033-.928.033-1.55.033h-2.316c-.622 0-1.133 0-1.55-.033c-.434-.034-.826-.107-1.198-.284a3.25 3.25 0 0 1-1.401-1.287c-.21-.356-.315-.74-.386-1.169c-.069-.413-.112-.922-.165-1.542L5.269 7.25H4.5a.75.75 0 0 1 0-1.5h3.966l.293-2.029l.011-.061c.182-.79.86-1.41 1.71-1.41h3.04c.85 0 1.528.62 1.71 1.41zM9.981 5.75h4.037l-.256-1.776c-.048-.167-.17-.224-.243-.224h-3.038c-.073 0-.195.057-.243.224zm1.269 4.75a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0zm3 0a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0z"/></svg>                 </button>
                </div>
              </div>



            </div>


          </div>
          
          
          







        </div>
      </div>
    </div>
    
  </div>
</div>